// Here you can add other styles
.borderNone{
    border:none !important;
    outline:none !important;
    &:focus{
        outline:none !important;
    }
}
.mainContainer{
    position: relative;
    .postionset{
        position: absolute;
        top: -5%;
        display: block;
    }
}
thead{
    background: #3f1dfb;
    color: #fff;
    th{
        border-right: 2px solid #fff;
        &:last-child{
            border-right:none;
        }
    }
    
}
